/* Body styles */
body {
    background-color: #ffffcc; /* Light yellow background color */
    font-family: Arial, sans-serif;
}

/* Header styles */
h1 {
    color: #0073e6; /* Blue header text color */
    text-align: center;
}

/* Form styles */
form {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #51d36d;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Input styles */
input[type="text"],
input[type="number"],
input[type="time"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button styles */
input[type="submit"] {
    background-color: #0073e6; /* Blue submit button background color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* List styles */
ul {
    
    list-style-type: none;
    padding: 0;
    border:#0073e6 5px solid;
    border-radius: 4px;
    
}
.Task-container{
    
    float: left;
}

li {
    margin-bottom: 5px;
}

/* Task status explanation */
h3 {
    color: #0073e6; /* Blue text color */
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

